<!DOCTYPE CSS>


@import url('https://fonts.googleapis.com/css?family=Montserrat');

p,h1,h2,h3{
   font-family: 'Montserrat', sans-serif;
}
h3{
  color:white;
  font-size: 20px;
}
h4{
  color:white;
  font-size:10px;
}
h1{
  font-type:uppercase;
}
h2{  
   color:white;
   order:(2);
   font-size:40px;
   margin: 10px 1px 10px 10px;
}

body{
   margin: 0;
  padding:0;
  background-image: url(https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true);
  background-repeat:repeat;
}
.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
  
	}
#left {
	display: flex;
	align-items: center;
      }
a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: hotpink;
}
a:visited {
  color: purple;
}
div#left a {
	margin: 0 20px;
 
    }
.social { 
	width: 30px;
	border-radius: 5px;
  
    }


.bigboi{
  display:flex;
  width:1500px;
  height:900px;
  border: 3px black;
  }

#blueboi{
  display:flex;
  content-direction:row;
  flex-wrap:wrap;
  height:800px;
  width: 900px;
  }

#greenboi{
  border: 20px solid white;
  display:flex;
  align-items:flex-end;
  justify-content:flex-end;
  padding:20px;
  width: 900px;
  height: 600px;
  background-size:cover;
  background-repeat:no-repeat;
  background-image: url(https://image.freepik.com/free-photo/blue-succulent-black-background_42752-10.jpg);
  }

#smolbois{
  border: 2px solid white;
  height: 200px;
  width:290px;
  display:cover;
  padding:3px;
  }
#pinkboi{  
  background-color:white;
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-self:flex-end;
  height: 200px;
  width: 500px;
  margin: 20px;
  }
#liboi{
  dispay:flex;
  flex-direction: column;
  align-content:flex-end;
  text-align: right; 
  width:200px;
  height:200px
}
#user{
  width: 200px;
}
#yellowboi{
  width:500px;
  height:600px;  
  align-self:flex-end;
  align-items:center;
  margin: 20px;
  background-color:white;
  padding:10px 10px 10px 10px;
  
   }

#purpleboi{
 
  width:600px;
  hieght:900px;
}

.portlink{
  display:flex;
  flex-wrap:wrap;
  align-content:center;
  justify-content: space-around;
   max-width:1300px;
  margin: 50px;
  
 
}

#port{
  margin: 10px 10px 10px 10px;
  image-size:cover;
  width:300px;
  height:180px;
}

#bar{
  display:flex;
  background:grey;
  justify-content:center;
  flex-wrap:wrap;
  margin:20px 0px 20px auto;
}
#small{
  width:40px;
  height:40px;

}

footer{
   background-color: #9b9c89;
 background-blend-mode: multiply;
  display:flex;
  background-image:url(https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true);
  background-repeat:repeat;
  
}
#bot{
  display:flex;
  background-image:url(https://github.com/tyreil/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true)
  filter: brightness(50%);
  flex-direction:row;
  width:1000px;
  }

#smolport{
  width:100px;
  height:90px;
}

#read{
  border: none;
  color: brown;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  background:transparent;
  
}
